DATABASE_URL="postgresql://postgres:postgres@localhost:5432/psicopedagogia_dev?schema=public"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_INSTAGRAM_USER="siimon.psp"
INSTAGRAM_ACCESS_TOKEN=""
INSTAGRAM_USER_ID="@siimon.psp"
JWT_SECRET="change-this-to-a-secure-random-string"
